<header class="page-header">
  <h1>Signup!</h1>
</header>

<article class="registration-form">
  <%= form_for @user do |form| %>

    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <strong>The following errors prevented saving:</strong>
        <ul>
          <% form.object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <section class="register-inputs"><h3>Name:</h3> <%= form.text_field :name, placeholder: 'Enter your full name' %></section>
    <section class="register-inputs"><h3>Email:</h3> <%= form.text_field :email, placeholder: 'example@example.com' %></section>
    <section class="register-inputs"><h3>Password:</h3> <%= form.password_field :password %></section>
    <section class="register-inputs"><h3>Password Confirmation:</h3> <%= form.password_field :password_confirmation %></section>
    <section class="register-btn"><%= form.submit "Register" %></section>

    <section>Already registered? <%= link_to 'Login', login_path %></section>
  <% end %>

</article>