<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
  </td>
  <td>
    <p><%= product.description %></p>
    <br>
  </td>
  <td>
    <%= humanized_money_with_symbol item_price / 100.0 %>
  </td>
  <td>
    <div>
    <%= quantity %>
    </div>
  </td>
  <td>
    <%= humanized_money_with_symbol total_price / 100.0 %>
  </td>
</tr>
